//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------
$root-font-size: 16px;
$font-family-lato: 'lato', sans-serif;

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
$neutral-color-1: #ecf0f1;
$neutral-color-2: #bdc3c7;
$neutral-color-3: #95a5a6;
$neutral-color-4: #7f8c8d;

$dark-color-1: #34495e;
$dark-color-2: #2c3e50;
$dark-color-3: #636e72;
$dark-color-4: #2d3436;

$red-color-1: #e74c3c;
$red-color-2: #c0392b;

$blue-color-1: #0984e3;

$pink-color-1: #e84393;

//------------------------------------------------------------------------------
// Shadows
//------------------------------------------------------------------------------
$box-shadow-1: 0 2px 60px 0 rgba(0, 0, 0, 0.1);
$box-shadow-2: 0 2px 60px -10px rgba(0, 0, 0, 0.2);
